@import "tailwindcss";
@import "@heroui/styles";

:root {
  --color-red: #ef4444;
  --color-red-dark: #991b1b;
  --color-white: #ffffff;
  --color-gold: #ffe9a6;

  --color-bg: #080808;
  --color-muted: rgba(255, 255, 255, 0.65);

  --glass-bg: rgba(255, 255, 255, 0.045);
  --glass-border: rgba(255, 255, 255, 0.16);
  --font-main: "myfont", "Segoe UI", sans-serif;
}

@font-face {
  font-family: "myfont";
  src: url("/fonts/myfont.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: var(--font-main);
  letter-spacing: -0.01em;
}